.app.dark {
    --bg-color: #003a22;
    --inverted-bg-color: #eeeeee;


    --primary-color: #ffffff;
    --secondary-color: #000000;

    --inverted-primary-color: #000000;
    --inverted-secondary-color: #ffffff;
}