.app.light {
    --bg-color: #eeeeee;
    --inverted-bg-color: #003a22;

    --primary-color: #000000;
    --secondary-color: #ffffff;

    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #000000;
}